@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Moon+Dance&display=swap");
/*VARIABLES Y MIXINS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../assets/img/32127-marrones.jpg);
  position: relative;
  padding-bottom: 4rem;
  min-height: 100vh;
}

/*BARRA DE NAVEGACION*/
header {
  background-color: rgba(0, 0, 0, 0.4901960784);
}
header h1 a {
  font-family: "East Sea Dokdo", cursive;
  font-size: 5rem;
  font-weight: 300;
  color: #f1ecec;
  text-decoration: none;
  margin-left: 1.25rem;
}
header nav {
  text-align: right;
  background-color: rgba(0, 0, 0, 0.4901960784);
}
header nav ul li {
  margin-inline: 0.6rem;
  font-size: 1.5rem;
  display: inline;
}
header nav ul li a {
  text-decoration: none;
  color: #f1ecec;
  font-family: "Moon Dance", cursive;
  font-size: 2rem;
}
header nav ul li a:hover {
  text-decoration: underline;
  color: #5f9ea0;
}

/* TARJETAS */
.card {
  text-align: center;
}

.boton {
  width: 75px;
  transition: width 3s;
}

.boton:hover {
  width: 150px;
  transform: skewX(-20deg);
}

/*UBICACION*/
.mapa {
  color: #f1ecec;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
}

/*REDES SOCIALES*/
.footerindex {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.4901960784);
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footerindex .footericon {
  flex-direction: row;
  width: 3rem;
  margin-inline: 2rem;
}
.footerindex .copyright {
  font-family: "Moon Dance", cursive;
  font-size: 2rem;
  color: #f1ecec;
  margin-left: 2rem;
}

/*CARTA*/
main {
  color: #f1ecec;
  margin: 1rem;
}
main .pagecarta {
  font-family: "Moon Dance", cursive;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
main .grid-carta {
  border: 5px solid #906603;
  border-radius: 1rem;
  padding: 10px;
  display: grid;
  grid-template-columns: 5fr 1fr;
}
main .grid-cafeteria {
  grid-template-rows: repeat(19, 1fr);
}
main .grid-cocina {
  grid-template-rows: repeat(5, 1fr);
}
main .grid-bebidas {
  grid-template-rows: repeat(8, 1fr);
}
main .cartacontacto {
  margin-top: 4rem;
  color: #5f9ea0;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
main .linklink {
  color: aqua;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin-bottom: 2rem;
}
main .linklink:hover {
  transform: skewX(-20deg);
}

/*PROVEEDORES*/
main .provee {
  color: #f1ecec;
  margin: 1rem;
  padding: 1rem;
  font-family: "Moon Dance", cursive;
  font-size: 2rem;
  text-align: center;
}
main .bimbo {
  max-width: 70%;
  margin-left: 11rem;
}
main .coca {
  max-width: 60%;
  margin-left: 15rem;
}
main .hileret {
  width: 20rem;
  margin: 2rem 0 1rem 29rem;
}
main .serenisima {
  max-width: 80%;
  margin-left: 7rem;
}
main .virginia {
  width: 50rem;
  margin-left: 13rem;
}
main .lario {
  width: 20rem;
  margin-left: 28rem;
}
main .palau {
  width: 20rem;
  margin-left: 28rem;
}
main .pepsi {
  max-width: 40%;
  margin-left: 22rem;
}

/*SUCURSALES*/
main .sucursales__intro {
  color: #f1ecec;
  font-weight: bold;
  font-size: 2rem;
  width: 70rem;
  margin: 2rem;
  padding: 2rem;
  text-indent: 20px;
}
main .sucursales__lista {
  font-size: 3rem;
  margin-top: 7rem;
  color: #5f9ea0;
  text-align: left;
  text-decoration: double underline;
}

/*PEDIDOS ONLINE*/
#carrito {
  padding: 20px;
  margin-bottom: 20px;
  margin-left: 5rem;
}

#vaciar-carrito {
background: #808385;
background-image: -webkit-linear-gradient(top, #808385, #2980b9);
background-image: -moz-linear-gradient(top, #808385, #2980b9);
background-image: -ms-linear-gradient(top, #808385, #2980b9);
background-image: -o-linear-gradient(top, #808385, #2980b9);
background-image: linear-gradient(to bottom, #808385, #2980b9);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Arial;
color: #f7f4f7;
font-size: 15px;
padding: 5px 10px 5px 10px;
margin-top: 10px;
text-decoration: none;
}

#vaciar-carrito:hover {
background: #3cb0fd;
background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
text-decoration: none;
}

#comprar {
background: #808385;
background-image: -webkit-linear-gradient(top, #808385, #2980b9);
background-image: -moz-linear-gradient(top, #808385, #2980b9);
background-image: -ms-linear-gradient(top, #808385, #2980b9);
background-image: -o-linear-gradient(top, #808385, #2980b9);
background-image: linear-gradient(to bottom, #808385, #2980b9);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Arial;
color: #f7f4f7;
font-size: 15px;
padding: 5px 10px 5px 10px;
margin-top: 10px;
text-decoration: none;
}

#comprar:hover {
background: #3cb0fd;
background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
text-decoration: none;
}

#confirmar-compra {
background: #808385;
background-image: -webkit-linear-gradient(top, #808385, #2980b9);
background-image: -moz-linear-gradient(top, #808385, #2980b9);
background-image: -ms-linear-gradient(top, #808385, #2980b9);
background-image: -o-linear-gradient(top, #808385, #2980b9);
background-image: linear-gradient(to bottom, #808385, #2980b9);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Arial;
color: #f7f4f7;
font-size: 15px;
padding: 5px 10px 5px 10px;
margin-bottom: 10px;
text-decoration: none;
}

#confirmar-compra:hover {
background: #3cb0fd;
background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
text-decoration: none;
}

#cancelar-compra {
background: #808385;
background-image: -webkit-linear-gradient(top, #808385, #2980b9);
background-image: -moz-linear-gradient(top, #808385, #2980b9);
background-image: -ms-linear-gradient(top, #808385, #2980b9);
background-image: -o-linear-gradient(top, #808385, #2980b9);
background-image: linear-gradient(to bottom, #808385, #2980b9);
-webkit-border-radius: 28;
-moz-border-radius: 28;
border-radius: 28px;
font-family: Arial;
color: #f7f4f7;
font-size: 15px;
padding: 5px 10px 5px 10px;
margin-bottom: 10px;
text-decoration: none;
}

#cancelar-compra:hover {
background: #3cb0fd;
background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
text-decoration: none;
}

#container {
display: flex;
}

#productos {
flex: 1;
}

#resumen-compra {
flex: 1;
}

#productos {
color: #f1ecec;
padding: 20px;
margin-left: 5rem;
}
ul {
list-style: none;
padding: 0;
margin-left: 5rem;
}
li {
margin-bottom: 10px;
}

#carrito {
color: #f1ecec;
}
.agregar-carrito {
background-color: #333;
color: #fff;
border: none;
border-radius: 28px;
padding: 5px 10px;
margin-left: 10rem;
cursor: pointer;
}
.agregar-carrito:hover {
background-color: #555;
}
.agregar1 {
margin-left: 14rem;
}
.agregar2 {
margin-left: 10.3rem;
}
.agregar4 {
margin-left: 5.7rem;
}
.agregar5 {
margin-left: 9.4rem;
}

.agregar6 {
margin-left: 11rem;
}
.agregar7 {
margin-left: 10.4rem;
}
.agregar8{
margin-left: 10.7rem;
}
.eliminar-producto {
background-color: #9a453e;
color: #fff;
border: none;
border-radius: 4px;
padding: 5px 10px;
margin-left: 5px;
cursor: pointer;
}
#resumen-compra {
color: #f1ecec;
margin-left: 5rem;
}
#resumen-total {
font-weight: bold;
color: #0ce4f3;
margin: 10px;
margin-left: 2rem;
font-size: 2rem;
}

/*OFERTA LABORAL*/
main .quienesintro {
  font-size: 3rem;
  font-style: italic;
  color: #f1ecec;
  text-align: center;
}
main .quienesintro2 {
  font-size: 2rem;
  margin-top: 5rem;
  text-decoration: underline;
}
main .quien {
  font-size: 1.8rem;
  margin-top: 2rem;
  text-align: justify;
}
main .quienescontacto {
  font-size: 2rem;
  margin-top: 7rem;
  border: 1rem solid #5f9ea0;
  padding: 0.5rem;
}

/*EL ORIGEN*/
main .origen {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
  width: 70rem;
  text-indent: 20px;
  align-items: center;
}
main .origen .origenimg {
  max-width: 300px;
  margin-left: 2rem;
}
main .origen2 {
  margin-top: 2;
  margin-left: 0;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
  width: 70rem;
  text-indent: 20px;
  align-items: center;
}
main .origen2 .origenimg2 {
  max-width: 300px;
  margin-right: 1rem;
  padding: 1rem;
}
main .origen3 {
  margin-top: 0;
  margin-left: 0;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
  width: 70rem;
  text-indent: 20px;
  align-items: center;
}
main .origen3 .origenimg3 {
  max-width: 300px;
}
main .origen4 {
  margin-top: 2;
  margin-left: 0;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
  width: 70rem;
  text-indent: 20px;
  align-items: center;
}
main .origen4 .origenimg4 {
  max-width: 300px;
  padding: 2rem;
}
main .origen5 {
  font-size: 3rem;
  font-style: italic;
  text-indent: 40px;
}

/*Mediaqueries*/
@media screen and (max-width: 768px) {
  /*HEADER*/
  Header .bar {
    text-align: center;
  }
  Header .menu {
    align-items: center;
    margin-right: 5rem;
  }
  /*PROVEEDORES*/
  .provmain .bimbo {
    max-width: 70%;
    margin-left: 3rem;
  }
  .provmain .coca {
    max-width: 60%;
    margin-left: 4rem;
    padding-top: 1rem;
  }
  .provmain .hileret {
    width: 20rem;
    margin: 2rem 0 1rem 1rem;
  }
  .provmain .serenisima {
    max-width: 80%;
    margin-left: 2rem;
    padding-bottom: 1rem;
  }
  .provmain .virginia {
    width: 20rem;
    margin-left: 1rem;
  }
  .provmain .lario {
    width: 20rem;
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .provmain .palau {
    width: 15rem;
    margin-left: 3rem;
  }
  .provmain .pepsi {
    max-width: 70%;
    margin-left: 2rem;
  }
  /*SUCURSALES*/
  .sucursales {
    color: #f1ecec;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    width: 90%;
    text-indent: 20px;
  }
  .sucursales__lista {
    font-size: 1.5rem;
    margin-top: 2rem;
    width: 95%;
    color: #5f9ea0;
    text-decoration: double underline;
  }
  /*PEDIDOS ONLINE*/
  .row {
    justify-content: center;
  }
  /*ORIGENES*/
  .origen {
    flex-direction: column;
    max-width: 22rem;
  }
  .origen .origenimg {
    margin-top: 1rem;
    margin-right: 2rem;
  }
  .origen2 {
    flex-direction: column;
    max-width: 22rem;
  }
  .origen3 {
    flex-direction: column;
    max-width: 22rem;
  }
  .origen3 .origenimg3 {
    margin-top: 1rem;
  }
  .origen4 {
    flex-direction: column;
    max-width: 22rem;
  }
  .origenimg5 {
    max-width: 300px;
    margin: 0px;
  }
  /*FOOTER*/
  .footerindex .footericon {
    width: 1.5rem;
    margin-inline: 0.5rem;
  }
  .footerindex .copyright {
    font-family: "Moon Dance", cursive;
    color: #f1ecec;
    font-size: 1rem;
    margin-left: 1rem;
  }
  .footerindex .d-block {
    margin-left: 3rem;
  }
}

/*# sourceMappingURL=bahia.css.map */
